<a href="https://colab.research.google.com/github/sparshmittal/practice/blob/master/Copy_of_stats_US_Baby_names.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

### Step 3. Assign it to a variable called baby_names.

In [ ]:
baby_names = df

### Step 4. See the first 10 entries

In [ ]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [ ]:
baby_names.drop(['Id','Unnamed: 0'] ,axis = 1)

            Name  Year Gender State  Count
0           Emma  2004      F    AK     62
1        Madison  2004      F    AK     48
2         Hannah  2004      F    AK     46
3          Grace  2004      F    AK     44
4          Emily  2004      F    AK     41
...          ...   ...    ...   ...    ...
1016390     Seth  2014      M    WY      5
1016391  Spencer  2014      M    WY      5
1016392     Tyce  2014      M    WY      5
1016393   Victor  2014      M    WY      5
1016394   Waylon  2014      M    WY      5

[1016395 rows x 5 columns]

### Step 6. Is there more male or female names in the dataset?

In [ ]:
df['Gender'].value_counts().nlargest(1)

F    558846
Name: Gender, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [ ]:
names = baby_names.groupby('Name').sum()

### Step 8. How many different names exist in the dataset?

In [ ]:
names.info

<bound method DataFrame.info of          Unnamed: 0         Id    Year  Count
Name
Aaban       7733801    7733803    4027     12
Aadan       7158061    7158065    8039     23
Aadarsh     1728030    1728031    2009      5
Aaden     555052029  555052225  393963   3426
Aadhav       709606     709607    2014      6
...             ...        ...     ...    ...
Zyra       17538998   17539005   14085     42
Zyrah       5487073    5487075    4024     11
Zyren       5074229    5074230    2013      6
Zyria      29787029   29787039   20089     59
Zyriah     34146196   34146205   18087     58

[17632 rows x 4 columns]>

### Step 9. What is the name with most occurrences?

In [ ]:
names.nlargest(1,'Count')

        Count
Name
Jacob  242874

In [ ]:
names[names.Count == names.Count.max()]

        Count
Name
Jacob  242874

### Step 10. How many different names have the least occurrences?

In [ ]:
names.nsmallest(1,'Count')['Count']

Name
Aadarsh    5
Name: Count, dtype: int64

In [ ]:
len(names[names['Count'] == 5])

2578

In [ ]:
len(names[names.Count == names.Count.min()])

2578

### Step 11. What is the median name occurrence?

In [ ]:
names = names.drop(['Id','Year','Unnamed: 0'],axis = 1)

In [ ]:
names.median()

Count    49.0
dtype: float64

In [ ]:
names[names['Count'] == 49]

         Count
Name
Aishani     49
Alara       49
Alysse      49
Ameir       49
Anely       49
...        ...
Sriram      49
Trinton     49
Vita        49
Yoni        49
Zuleima     49

[66 rows x 1 columns]

### Step 12. What is the standard deviation of names?

In [ ]:
names.std()

Count    11006.069468
dtype: float64

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [ ]:
names.describe()

               Count
count   17632.000000
mean     2008.932169
std     11006.069468
min         5.000000
25%        11.000000
50%        49.000000
75%       337.000000
max    242874.000000